body {
    background: #333333;
    font-family: 'Roboto', sans-serif;
}

.green {
    background: #809B77;
    color: #f2f2f2;
}

.blue {
    background: #5e7e9a;
    color: #f2f2f2;
}

.remark {
    color: rgba(255, 255, 255, 0.6);
}

.box {
    margin-top: 30px;
    border-radius: 2px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.title {
    font-weight: bold;
    font-size: 1.4em;
    padding: 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.title>i {
    margin-left: 6px;
    margin-right: 10px;
}

.content {
    padding: 19px;
    text-align: justify;
}

#projects a {
    text-decoration: underline;
}

a,
a:visited {
    color: #f2f2f2;
}

a:hover,
a:active,
a:link {
    color: #FFFFFF;
}

.table th,
.table td {
    border-top: none !important;
    border-left: none !important;
}

.table {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    margin-bottom: 30px;
}

.action {
    cursor: pointer;
    font-size: 0.6em;
    line-height: 30px;
    width: 30px;
    height: 30px;
}

.action:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.action i {
    width: 30px;
    height: 30px;
    text-align: center;
}

.content {
    border: 0px;
}

.timetable td {
    padding: 0 !important;
}

.light {
    color: rgba(255, 255, 255, 0.6);
    text-align: right;
}

.description {
    text-align: justify;
}

@media only screen and (max-width: 767px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .content>.timetable td {
        min-width: 25px;
    }
}

.shadow {
    position: relative;
    max-width: 100%;
    display: inline-block;
    top: -13px;
    margin-right: 13px;
}

.shadow::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 3px solid #f2f2f2;
    border-radius: 50%;
}

.shadow img {
    width: 52px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}